@model IEnumerable<DT102G_ASP_NET_Moment3.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleasedYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfTunes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleasedYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfTunes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br />
@*Enter a search string in a form that you can search on the recordcontroller*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">  
            <div class="form-group">
                <label class="control-label" for="search">Search</label>
                <input class="form-control" type="text" id="search" name="search" value="@ViewData["search"]">
            </div>
           
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>